body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.category-aktif {
  background-color: black;
  color: white;
}

@media only  screen and (max-height: 1000px){
  .hasil {
    height: 380px;
  }
  .menu {
    height: 380px;
  }
}


.hasil::-webkit-scrollbar{
  display: none;
}
.menu::-webkit-scrollbar{
  display: none;
}

